{% extends 'base.html' %}

{% block content %}
	<h1>Welcome, {{ current_user.username }}!</h1>
	<p>You have admin access to the Radio HighTECH Ticket Management System.</p>
	<ul>
		<li><a href="{{ url_for('create_event') }}">Create Event</a></li>
		<li><a href="{{ url_for('generate_tickets') }}">Generate Tickets</a></li>
		<li><a href="{{ url_for('activate_ticket') }}">Activate Ticket</a></li>
		<li><a href="{{ url_for('validate_ticket') }}">Validate Ticket</a></li>
		<li><a href="{{ url_for('refund_ticket') }}">Refund Ticket</a></li>
		<li><a href="{{ url_for('analytics') }}">Analytics</a></li>
		<li><a href="{{ url_for('register') }}">Create New User</a></li>
		<li><a href="{{ url_for('logout') }}">Logout</a></li>
	</ul>
{% endblock %}

