<!DOCTYPE html>
<html>
<head>
    <title>Radio HighTECH Ticket Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-i18n@8.27.0/dist/vue-i18n.min.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <select id="language" v-on:change="changeLanguage">
                <option value="en">English</option>
                <option value="tr">Türkçe</option>
            </select>
        </header>
        <div id="content">
            {% raw %}{{ $t('welcomeMessage') }}{% endraw %}
        </div>
    </div>
    
    <script>
        const messages = {
            en: {
                welcomeMessage: 'Welcome to the Radio HighTECH Ticket Management System!'
            },
            tr: {
                welcomeMessage: 'Radio HighTECH Bilet Yönetim Sistemine hoşgeldiniz!'
            }
        };

        const i18n = new VueI18n({
            locale: 'en',
            messages
        });

        const app = new Vue({
            el: '#app',
            i18n,
            methods: {
                changeLanguage: function (event) {
                    this.$i18n.locale = event.target.value;
                }
            }
        });
    </script>
</body>
</html>
