{% extends 'base.html' %}

{% block content %}
	<h2>Validate Ticket</h2>
	<form action="{{ url_for('validate_ticket') }}" method="post">
		<input type="text" name="ticket_ID" placeholder="Ticket ID" required><br>
		<button type="submit">Validate Ticket</button>
	</form>
	{% if student_data %}
		<h3>Student Data:</h3>
		<p><strong>ID:</strong> {{ student_data.student_ID }}</p>
		<p><strong>Name:</strong> {{ student_data.student_NAME }}</p>
		<p><strong>Surname:</strong> {{ student_data.student_SNAME }}</p>
		<p><strong>GSM:</strong> {{ student_data.student_GSM }}</p>
		<p><strong>Email:</strong> {{ student_data.student_EMAIL }}</p>


		<form action="{{ url_for('mark_spent') }}" method="post">
			<input type="hidden" name="ticket_ID" value="{{ ticket_ID }}">
			<button type="submit">Mark as Spent</button>
		</form>
		<form action="{{ url_for('refund_ticket') }}" method="post">
			<input type="hidden" name="ticket_ID" value="{{ ticket_ID }}">
			<button type="submit">Refund Ticket</button>
		</form>
	{% endif %}
{% endblock %}

